<li class="span3">
<%= link_to image_tag(album.image_url,
                      alt: album.name), 
            album_path(album), 
            class: "thumbnail" %>
    <strong><%= album.name %></strong>
    <%= raw "&mdash;" unless album.description.blank? %> 
    <%= album.description %>
</li>
