<div class="subnav">
  <ul class="nav">
    <li>
      <%= link_to new_photo_path(album_id: album.id) do %>
        <i class="icon-plus-sign"></i> Add Photo
      <% end %>
    </li>
    <li>
      <%= link_to edit_album_path(album) do %>
        <i class="icon-cog"></i> Edit Album
      <% end %>
    </li>
    <li class="pull-right">
      <%= link_to(album, method: :delete, confirm: "You sure?") do %> 
       <i class="icon-minus-sign"></i> Delete Album 
      <% end %>
    </li>
  </ul>
</div>
