<% provide(:title, "Albums") %>
<header class="jumbotron subhead">
  <h1>All Albums</h1>
  <%= render 'index_navigation' %>
</header>

<%= paginate @albums %>

<div class="row">
  <div class="span12">
    <ul class="thumbnails">
      <%= render @albums %>
    </ul>
  </div>
</div>

<%= paginate @albums %>
