<div class="subnav">
  <ul class="nav">
    <li class="pull-right">
      <%= link_to photo, method: :delete, confirm: "You sure?" do %>
        <i class="icon-minus-sign"></i> Delete Photo
      <% end %>
      </li>
    </ul>
</div>
