@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin no_border_radius {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

@mixin no_box_shadow {
  -moz-box-shadow: 0px;
  -webkit-box-shadow: 0px;
  box-shadow: 0px;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

img {
  max-width: 100%;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: #555;
  }
  &:hover {
    color: #222;
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.purr {
  @extend .alert;
  @extend .alert-error;
  display: block;
  position: absolute;
  top: 45px;
  right: 0px;
  width: 250px;
  margin: auto;
  z-index: 5000;
}

/* Forms */
h1 input {
  font-size: 1em;
  padding: 0px;
  margin-top: -4px;
  margin-bottom: -6px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  letter-spacing: -2px;
  display: block;
}

p input {
  font-size: 1em;
  padding: 0px;
  margin-bottom: 0px;
  line-height: 1;
  margin-bottom: 19px;
  display: block;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

ul.thumbnails {
  margin-left: 10px; 
  li {
    margin-bottom: 5px;
    a {
      @include no_border_radius;
    }
  }
}

#selectedPhotoContainer {
  border: 1px solid #DDD;
  padding: 4px;
  min-height: 396px;
}

#selectedPhoto img {
  display: block;
  margin: auto;
  max-height: 396px;
}

h1.notice {
  color: #CCC;
  text-shadow: 0px 1px 0px #AAA;
}

.gallery {
  position: relative;
}

.photos-control {
  position: absolute;
  top: -5px;
  left: 44%;
  width: 50px;
  height: 51px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 200;
  line-height: 30px;
  color: $white;
  background: $grayDarker;
  text-align: center;
  border: 3px solid #ddd;
  @include border-radius(28px);
  opacity: .4; 
  background-size: 100%;

  &.bottom {
    top: auto;
    bottom: -25px;
    background: url('arrow_down.svg');
  }

  &.top {
    background: url('arrow_up.svg');
  }

  &:hover {
    color: $white;
    text-decoration: none;
    opacity: .8;
  }
}

/* subnav */
.subnav {
  width: 100%;
  height: 36px;
  background-color: #EEE;
  background-repeat: repeat-x;
  @include background-image(linear-gradient(top, #F5F5F5, 0%, #EEE, 100%));
  border: 1px solid #E5E5E5;
  margin-bottom: 30px;
  
  .nav {
    li.pull-right {
      float: right;
    }
    > li {
      float: left;

      > a {
        margin: 0;
        padding-top: 11px;
        padding-bottom:11px;
        padding-right: 12px;
        padding-left: 12px;
        line-height: 14px;
        border-left: 1px solid #F5F5F5;
        border-right: 1px solid #E5E5E5;

        &:hover {
          @include background-image(linear-gradient(top, #DDD, 0%, #D5D5D5, 100%));
        }

      }
    }
  }
}

#subnav-filler {
  @extend .subnav;
}

.subnav-fixed {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 1020;
  border-color: #D5D5D5;
  border-width: 0 0 1px;
  @include box-shadow(0 1px 0 $white 0 1px 5px rgba(0, 0, 0, .1));
  
  .nav {
    width: 928px;
    margin: 0 auto;
    padding: 0 1px;
  }
}

